/*variables en css se definen con el seudoelemento :root*/

:root {
    --color_1: #361e11;
    --color_2: #59311d;
    --color_3: #ab622e;
    --color_4: #61432e;
    --color_5: #946955;
    --color_6: #ab622e;
    --color_7: #d39357;
    --color_8: #f9dfaf;
    --blanco:  #FFFFFF;
    --negro:   #212121;
}

/*
    hoy en dia la unidad de madida mas
    utilizada ya no es : em o px.
    lo recomendable es utilizar rem

    las siguientes lineas de codigo
    para los selectores html y body
    hacen que la unidad de medida rem
    sea muy facil de utilizar 1rem = 10px
    y tienen la ventaja de adaptarse mejor a pantallas
    con una densidad de pixeles muy alta
*/

html {
    font-size: 62.5%;
}

body {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*Para centrar un texto utilizamos :*/
.titulo {
    text-align: center;
    font-size: 3.8rem;
}

/*para cambiar las dimensiones de la letra 
se utiliza la propiedad :*/
.titulo span {
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--color_3);
}

.container {
    width: 120rem;
    margin: 0 auto;
}

.main-nav a {
    background-color: var(--color_7);
}