/*variables en css se definen con el seudoelemento :root*/

:root {
    --color_1: #361e11;
    --color_2: #59311d;
    --color_3: #ab622e;
    --color_4: #61432e;
    --color_5: #946955;
    --color_6: #ab622e;
    --color_7: #d39357;
    --color_8: #f9dfaf;
    --color_8rgba: rgba(249, 223, 175, .7);
    --blanco:  #FFFFFF;
    --negro:   #212121;
}

/*
    hoy en dia la unidad de madida mas
    utilizada ya no es : em o px.
    lo recomendable es utilizar rem

    las siguientes lineas de codigo
    para los selectores html y body
    hacen que la unidad de medida rem
    sea muy facil de utilizar 1rem = 10px
    y tienen la ventaja de adaptarse mejor a pantallas
    con una densidad de pixeles muy alta
*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*Para centrar un texto utilizamos :*/
.titulo {
    font-size: 3.8rem;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
}

h3,h4,h5,h6 {
    font-size: 1.8rem;
}

/*para cambiar las dimensiones de la letra 
se utiliza la propiedad :*/
.titulo span {
    font-size: 2rem;
}

.main-nav {
    background-color: var(--color_3);
    -webkit-box-shadow: inset -1px 2px 14px 3px var(--color_1);
    -moz-box-shadow: inset -1px 2px 14px 3px var(--color_1);
    box-shadow: inset -1px 2px 14px 3px var(--color_1);
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-nav a {
    text-decoration: none;
    color: var(--color_8);
    font-size: 2rem;
    padding: 1rem;
    display: block;
    text-align: center;
    transition: all .8s ease-in;
}

.main-nav a:hover {
    background-color: var(--color_7);
    -webkit-box-shadow: 0px 4px 12px 1px var(--blanco);
    -moz-box-shadow: 0px 4px 12px 1px var(--blanco);
    box-shadow: 0px 4px 12px 1px var(--blanco);
    color: var(--negro);
}

.hero {
    background-image: url('../hero_background/ballons.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    padding: 2rem;
    width: 100%;
    position: relative;
}

.hcontent {
    position: absolute;
    background-color: var(--color_8rgba);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color_1);
}

.hcontent h2 {
    font-size: 1.8rem;
}

.imgp {
    width: 15rem;/*width: 35rem*/
    height: 23rem;/*height: 16rem;*/
    display: flex;
    flex-direction: column;/*flex-direction: row;*/
    justify-content: center;/*justify-content: space-around;*/
    align-items: center;
    position: relative;
    margin: 1rem auto;
    /*border: 1px solid #000;*/
}

.imgp p {
    position: absolute;
    right: 0.5;/*right: 0;*/
    bottom: 0;
    font-size: 1.2rem;
    /*border: 1px solid #000;*/
}

.hcontent a {
    text-decoration: none;
    padding: 1rem;
    background-color: var(--color_5);
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: .5rem;
    transition: all .5s ease-out;
}

.hcontent a:hover {
    -webkit-box-shadow: inset -1px 2px 14px 3px var(--color_1);
    -moz-box-shadow: inset -1px 2px 14px 3px var(--color_1);
    box-shadow: inset -1px 2px 14px 3px var(--color_1);
    color: var(--color_7);
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hcontent h2 {
        font-size: 2.8rem;
    }

    .imgp {
        width: 35rem;
        height: 16rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .imgp p {
        right: 0;
    }
}

@media (min-width: 1000px) {
    .main-nav {
        flex-wrap: nowrap
    }

    .main-nav a {
        font-size: 1.8rem;
    }
}